@import "tailwindcss";
@import "tailwindcss/utilities";

@layer base{
    body {
        font-family: "Poppins", sans-serif;
    }
}

/* Animasi untuk kelincinya */
@keyframes bounceSmall {
    0%, 100% {
      transform: translateY(0); /* Posisi normal */
    }
    50% {
      transform: translateY(-8px); /* Sedikit naik ke atas */
    }
  }
  
  .animate-bounce-small {
    animation: bounceSmall 1s infinite alternate ease-in-out; /* Jalankan animasi */
    display: inline-block; 
  }